extends layout

block content
 div 
  h3 Login Users
 div
  table(border='1', max-width='50%').table.table-striped
    thead.thead-dark
        tr
            th #
            th id
            th name
            th email
            th passowrd
    tbody
        each item, i in items
            tr
                td= i+1
                td= item.id
                td= item.name
                td= item.email
                td= item.password
 b               
  <a id="Signup" href="../users/registration">Registration</a> /
  <a id="Login" href="../users/login">Login</a> 
